body {
    background-image: url(pink-world-map-maps-plain.jpg);
    overflow: hidden;
  }
  
  div.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  div.inner-container {
    background-color: rgba(216, 112, 147, .7);
    border: 5px solid #d87093;
    color: #FFFFFF;
    overflow: hidden;
    max-height: fit-content;
    padding: 0.5%;
  }
  
  h1 {
    font-size: 16em;
    color: #ff0000;
    text-align: center;
  }
  
  p {
    font-size: 3.5em;
    text-align: center;
  }
  